.navbar-custom {
  height: 100px;
}
.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
  /* font-size: 22pt; */
}

.sidebar {
  /* position: fixed; */
  /* margin-left: 20px; */
  background: #2699fb;
  /* width: 250px;
  height: 100vh; */
  text-align: center;
  color: #ffffff;
  /* margin-top: 65px; */
  padding: 20px;
  /* z-index: 1; */
}
.loginpage {
  /* position: fixed; */
  /* margin-left: 20px; */
  background: #2699fb;
  /* width: 250px;
  height: 100vh; */
  text-align: center;
  color: #ffffff;
  /* margin-top: 65px; */
  padding: 20px;
  /* z-index: 1; */
}

.footer {
  /* position: absolute; */
  left: 60px;
  bottom: 100px;
  text-align: center;
  font-size: 12pt;
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
  font-family: 'Yaldevi', sans-serif;
  margin-top: 50px;
  margin-bottom: 150px;
}
